<ion-content padding class="background">
    <ion-toolbar>
        <ion-buttons>
          <span style="width:25%;"></span>
            <img style="text-align: center" src="assets/uia.png" width="130px" height="130px" >
        </ion-buttons>
    </ion-toolbar>
  <ion-list>
    <div class="ion-text-center">
      <h1><strong><ion-text style="font-style: oblique">
          ECIE <br> SCHEDULE <br> MAKER</ion-text></strong>
      </h1>
    </div>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button fill="solid" expand="block" color="dark" (click) ="login()">Login</ion-button>
  <ion-button fill="solid" expand="block" color="dark" (click) ="register()">Register</ion-button>
</ion-content>
