<ion-tabs #tabs>
  <ion-tab-bar color="primary" slot="bottom">
    
    <ion-tab-button tab="feed">
      <ion-icon name="arrow-back"></ion-icon>
      <ion-label>Load</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="uploader">
      <ion-icon name="apps"></ion-icon>
      <ion-label>New</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="profile">
      <ion-icon name="arrow-forward"></ion-icon>
      <ion-label>Link</ion-label>
    </ion-tab-button>
      
  </ion-tab-bar>
</ion-tabs>