// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
ion-content {
  --ion-background-color: var(--ion-color-secondary);
  --ion-header-color: var(--ion-color-primary);
}
:root {
  /** primary **/
  --ion-color-primary: #fa9b1f;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #d34d4d;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: transparent;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #c44545;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #552404;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ddb443;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #593bdf;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ce4c8d;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #57106d;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #4ac4a5;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #f8e10e;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #916d0a;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #44536b;
  --ion-color-dark-tint: #8baae7;

  /** medium **/
  --ion-color-medium: #d9e788;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #b87c7f;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #485da8;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #ff9c08;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #90ac5d7a;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #fafbfc;
  --ion-color-light-tint: #e4f311;
}
