<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title color="primary">New Course</ion-title>
    <ion-buttons slot="end">
      <img src="assets/uia.png" width="50px" height="50px">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-list>

    <ion-item>
      <ion-label position="floating">Course Code</ion-label>
      <ion-input type="text" [(ngModel)]="CourseCode"></ion-input>
    </ion-item>

  </ion-list>
  
  <ion-button fill="solid" expand="block" color="dark" (click) ="Add()">Add Subject</ion-button>
  
  <ion-card>
    <ion-list>
     <ion-text color="tertiary" style="font-style: oblique"><h5><strong>How to use:</strong></h5></ion-text>
     <ion-text color="tertiary">1) Put your course code in the tab New <br>
    <br>
    2) View your current course in tab Load <br>
    <br>
    3) Check the link in the tab Link <br></ion-text>
    </ion-list>
  </ion-card>
  
</ion-content>
