<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title color="primary">Current Course</ion-title>
    <ion-buttons slot="end">
      <img src="assets/uia.png" width="50px" height="50px">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
    <ion-card *ngFor="let s of (userSubject | async)?.subject">
      <ion-card-content>
        <p>{{ s.code }} - {{ s.name }}</p>
        <p>Section {{ s.section }}</p>
        <p>{{ s.day }}</p>
        <p>Time: {{ s.startTime }} - {{ s.endTime }}</p>
        <p>{{ s.lecturer }}</p>
      </ion-card-content>
    </ion-card>
</ion-content>

<!-- if subject in monday, sort them into "MONDAY" card, use ngFor for each day card -->