<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title color="primary">Course</ion-title>
    <ion-buttons slot="end">
      <img src="assets/uia.png" width="50px" height="50px">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
    <ion-list>
  
      <ion-item>
        <ion-label position="floating">Course Name</ion-label>
        <ion-input type="text" [(ngModel)]="courseName"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Course Code</ion-label>
          <ion-input type="text" [(ngModel)]="courseCode"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label aria-setsize="50px">Section</ion-label>
          <ion-select [interfaceOptions]="customPopoverOptions3" interface="popover" placeholder="Options" [(ngModel)]="section">
            <ion-select-option *ngFor="let s of seclist" value="{{s}}">
              {{s}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      <ion-item>
        <ion-label>Day</ion-label>
        <ion-select [interfaceOptions]="customPopoverOptions1" interface="popover" placeholder="Options" [(ngModel)]="day">
          <ion-select-option *ngFor="let d of daylist" value="{{d}}">
            {{d}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Start Time</ion-label>
        <ion-select [interfaceOptions]="customPopoverOptions2" interface="popover" placeholder="Options" [(ngModel)]="startTime">
          <div *ngFor="let t of timelist; let i = index">
            <ion-select-option *ngIf="6>i" value="{{i}}">
              {{t}}
            </ion-select-option>
          </div>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>End Time</ion-label>
        <ion-select [interfaceOptions]="customPopoverOptions2" interface="popover" placeholder="Options" [(ngModel)]="endTime">
          <div *ngFor="let t of timelist; let j = index">
            <ion-select-option *ngIf="j > startTime" value="{{j}}">
              {{t}}
            </ion-select-option>
          </div>
        </ion-select>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Lecturer</ion-label>
          <ion-input type="text" [(ngModel)]="lecturer"></ion-input>
      </ion-item>

    </ion-list>
  
  <ion-button fill="solid" expand="block" color="dark" (click) ="submit()">Submit</ion-button>
  <ion-button fill="solid" expand="block" color="dark" (click) ="logout()">LogOut</ion-button>
</ion-content>
