<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title color="primary">Link</ion-title>
    <ion-buttons slot="end">
      <img src="assets/uia.png" width="50px" height="50px">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  
  <ion-list>

    <ion-item>
      <ion-label>ECIE Lecturers Info</ion-label>
    </ion-item>
    <ion-button fill="solid" expand="block" color="tertiary" (click) ="URL3()">GO</ion-button>

    <ion-item>
      <ion-label>Course Schedule</ion-label>
    </ion-item>
    <ion-button fill="solid" expand="block" color="tertiary" (click) ="URL1()">GO</ion-button>
  
    <ion-item>
      <ion-label>Course Prereg</ion-label>
    </ion-item>
    <ion-button fill="solid" expand="block" color="tertiary" (click) ="URL2()">GO</ion-button>
  </ion-list>

  <ion-button fill="solid" expand="block" color="dark" (click) ="logout()">LogOut</ion-button>
</ion-content>
