<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title color="primary">Register</ion-title>
    <ion-buttons slot="end">
      <img src="assets/uia.png" width="50px" height="50px">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
    <ion-list>
  
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
      </ion-item>

    </ion-list>
  
    <ion-button fill="solid" expand="block" color="dark" (click) ="register()">Sign Up</ion-button>
    <ion-button fill="solid" expand="block" color="dark" (click) ="login()">Back</ion-button>
  </ion-content>
